#setservices{
    
    margin-top:15px;
    margin-bottom:30px;
}
#setservices .read-more {
    display: block;
    width: 60%;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    background-color: #6c901c;
    border-radius: 15px;
    transform: translateX(-50%);
    transition: all 0.3s ease 0s;
    position: absolute;
    left: 50%;
    bottom: -20px;

}
#setservices .read-more:hover {
    text-decoration: none;
    letter-spacing: 2px;
    box-shadow: 0 0 10px #000;
}
#setservices h3 {
     color: rgba(234, 241, 240, 0.9);
     padding-top:35px;
     font-size: 21px;
     padding-bottom:5px;
}
#setservices p {
     color: rgba(234, 241, 240, 0.9);
     
}
#setservices .text{
  color: rgba(31,181,172,.9);
  text-align: center;
}


.folded-corner:hover .text{
	visibility: visible;
	color: #000000;;
}
.Services-tab{
	margin-top:20px;
	

}

/*
  nav link items
*/
.folded-corner{
  padding: 25px 25px;
  position: relative;
  font-size: 90%;
  text-decoration: none;
  color: #999; 
  

  background: transparent;
  transition: all ease .5s;
  border: 1px dashed rgba(31,181,172,.9);
}
.folded-corner:hover{
	background-color: rgb(95, 128, 23, .78);
}

/*
  paper fold corner
*/

.folded-corner:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-style: solid;
  border-width: 0 0px 0px 0;
  border-color: #ddd #000;
  transition: all ease .3s;
}

/*
  on li hover make paper fold larger
*/
.folded-corner:hover:before {
	background-color: #D00003;
  border-width: 0 50px 50px 0;
  border-color: #eee #000;
  
}

.service_tab_1{
	background-color: #0f3156;
}
.service_tab_1:hover .fa-icon-image{
    color: #0f3156;
    transform: rotate(360deg) scale(1.5);
}


.fa-icon-image{
	color: rgba(31,181,172,.9);
	display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    font-size-adjust: none;
    font-stretch: normal;
    -moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
    text-rendering: auto;
    transition: all .65s linear 0s;
    text-align: center;
    transition: all 1s cubic-bezier(.99,.82,.11,1.41);
}


.tw-testimonial {
  background: url("../images/testimonial/testimonialbg1.jpg");
  background-size: cover;
  background-position: center; }

.testimonial-bg-pattern {
  background: url("../images/testimonial/testimonial_white.jpg"); }

.testimonial-default-bg {
  background: url("../images/testimonial/testimonial.jpg") !important;
  background-size: cover;
  background-position: center; }

.tw-testimonial-content h2 {
  font-weight: 700;
  color: #fff; }

.tw-testimonial-content p {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.8;
  margin-bottom: 27px;
  max-width: 435px; }

.tw-testimonial-carousel .owl-stage-outer {
  padding: 50px 0; }

.tw-testimonial-carousel .owl-item img {
  width: auto; }

.tw-testimonial-carousel .owl-dots {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  bottom: -30px; }
  .tw-testimonial-carousel .owl-dots button.owl-dot {
    display: inline-block;
    width: 7px;
    height: 7px;
    background: #362F2D;
    margin: 4px;
    border-radius: 50%; }
    .tw-testimonial-carousel .owl-dots button.owl-dot.active {
      width: 11px;
      height: 11px;
      background: #fff; }

.tw-testimonial-carousel:before {
  position: absolute;
  top: 130px;
  left: 23px;
  width: 98%;
  height: 52%;
  content: "";
  background: #f46540;
  -webkit-transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  transform: rotate(-6deg); }

.tw-testimonial-carousel .testimonial-meta {
  margin-left: 90px; }

.tw-testimonial-wrapper {
  background-color: #362f2d;
  position: relative;
  z-index: 2;
  padding: 55px 60px 40px; }

.testimonial-text p {
  font-size: 18px;
  color: #fff;
  font-style: italic;
  padding: 10px 0; }

.testimonial-meta {
  position: relative;
  z-index: 2;
  margin-top: 30px; }
  .testimonial-meta h4 {
    color: #ffb72f;
    font-weight: 600;
    font-size: 20px; }
    .testimonial-meta h4 small {
      display: block;
      font-size: 14px;
      color: #C3C1C0;
      font-weight: 400;
      margin-top: 5px; }
  .testimonial-meta i {
    position: absolute;
    right: 0px;
    bottom: 0;
    color: #663d32;
    font-size: 50px; }


.testimonial-bg-orange {
    background-color: #FA6742;
}

.testimonial-bg {
    position: absolute;
    bottom: 40px;
    left: 60px;
    width: 72px;
    height: 65px;
    border-radius: 8px;
    display: table;
}


/* ==========================

          Working Process

      =============================*/
       img{
            display: -webkit-inline-box;
      }
.work-process {
  z-index: 2;
  margin-bottom: 50px; }
  .work-process [class*="col"]:nth-child(even) .process-wrapper {
    margin-top: 65px; }

.work-bg-pattern {

    position: relative;
    left: 0;
    top: 226px;
    width: 100%;
    text-align: center;
    z-index: -1;
    /* margin-top: -50px; */
    background-position: left center;

   }

.tw-work-process {
  text-align: center; }
  .tw-work-process p {
    font-weight: 700;
    color: #2f2c2c;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 23px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }

.process-wrapper {
  width: 225px;
  background-color: #32cc73;
  height: 225px;
  border-radius: 50%;
  margin: 0 auto;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  .process-wrapper:hover {
    -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.12); }

.process-inner {
  vertical-align: middle;
  text-align: center; }

  .tw-facts {
  background-color: #e1e8e5;
  z-index: 2;
  padding: 80px 0;
  }

.facts-bg-pattern img {
  position: absolute;
  left: 17px;
  bottom: 47px;
  background-position: left center;
  background-repeat: no-repeat;
  z-index: -1; }

.facts-bg-pattern img:nth-child(2) {
  left: auto;
  right: 0;
  bottom: 36px; }

.facts-title {
  margin: 25px 0; }

.facts-content {
  color: #fa6742; }
  .facts-content span {
    font-size: 48px;
    font-weight: 700; }
  .facts-content sup {
    top: -17px;
    left: -4px;
    font-size: 30px;
    font-weight: 600; }


.bg-orange {
    background: #FA6742 !important;
}


.bg-blue {
    background: #478FFF !important;
}

.bg-yellow {
    background: #FFB72F !important;
}