@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?z0esd7');
  src:  url('icomoon.eot?z0esd7#iefix') format('embedded-opentype'),
    url('icomoon.ttf?z0esd7') format('truetype'),
    url('icomoon.woff?z0esd7') format('woff'),
    url('icomoon.svg?z0esd7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="custom-"], [class*=" custom-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-search:before {
  content: "\e900";
}
.custom-vector .path1:before {
  content: "\e901";
  color: rgb(112, 116, 135);
}
.custom-vector .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(228, 234, 248);
}
.custom-vector .path3:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(94, 99, 119);
}
.custom-vector .path4:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(216, 220, 229);
}
.custom-vector .path5:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(216, 220, 229);
}
.custom-vector .path6:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(195, 200, 209);
}
.custom-vector .path7:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(0, 195, 255);
}
.custom-vector .path8:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(0, 170, 240);
}
.custom-vector .path9:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(228, 234, 248);
}
.custom-vector .path10:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 80, 80);
}
.custom-vector .path11:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(237, 58, 58);
}
.custom-vector .path12:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(228, 234, 248);
}
.custom-vector .path13:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(255, 200, 80);
}
.custom-vector .path14:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(249, 180, 40);
}
.custom-vector .path15:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(0, 140, 255);
}
.custom-vector .path16:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(3, 133, 221);
}
.custom-vector .path17:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(3, 133, 221);
}
.custom-vector .path18:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(2, 118, 196);
}
.custom-vector .path19:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(216, 220, 229);
}
.custom-vector .path20:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(195, 200, 209);
}
.custom-vector .path21:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(255, 200, 80);
}
.custom-vector .path22:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(255, 200, 80);
}
.custom-vector .path23:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(249, 180, 40);
}
.custom-vector .path24:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(249, 180, 40);
}
.custom-vector .path25:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.custom-vector .path26:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.custom-vector .path27:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.custom-vector .path28:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.custom-vector .path29:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.custom-search-magnifier-interface-symbol:before {
  content: "\e91e";
}
.custom-web-design:before {
  content: "\e91f";
}
.custom-responsive .path1:before {
  content: "\e920";
  color: rgb(105, 205, 255);
}
.custom-responsive .path2:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(68, 94, 160);
}
.custom-responsive .path3:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(46, 76, 137);
}
.custom-responsive .path4:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(41, 61, 124);
}
.custom-responsive .path5:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(26, 43, 99);
}
.custom-responsive .path6:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(41, 61, 124);
}
.custom-responsive .path7:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.custom-responsive .path8:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(217, 234, 252);
}
.custom-responsive .path9:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(68, 94, 160);
}
.custom-responsive .path10:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(195, 221, 244);
}
.custom-responsive .path11:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(174, 193, 237);
}
.custom-responsive .path12:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(195, 221, 244);
}
.custom-responsive .path13:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(174, 193, 237);
}
.custom-responsive .path14:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(255, 175, 16);
}
.custom-responsive .path15:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(255, 149, 24);
}
.custom-responsive .path16:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(93, 193, 216);
}
.custom-responsive .path17:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(93, 193, 216);
}
.custom-responsive .path18:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(93, 193, 216);
}
.custom-responsive .path19:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(93, 193, 216);
}
.custom-responsive .path20:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(93, 193, 216);
}
.custom-responsive .path21:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(93, 193, 216);
}
.custom-responsive .path22:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(68, 94, 160);
}
.custom-responsive .path23:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.custom-responsive .path24:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(217, 234, 252);
}
.custom-responsive .path25:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(68, 94, 160);
}
.custom-responsive .path26:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(255, 175, 16);
}
.custom-responsive .path27:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(255, 149, 24);
}
.custom-responsive .path28:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(93, 193, 216);
}
.custom-responsive .path29:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(93, 193, 216);
}
.custom-responsive .path30:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(93, 193, 216);
}
.custom-responsive .path31:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(195, 221, 244);
}
.custom-responsive .path32:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(174, 193, 237);
}
.custom-responsive .path33:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(195, 221, 244);
}
.custom-responsive .path34:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(174, 193, 237);
}
.custom-smartphone:before {
  content: "\e942";
}
.custom-call:before {
  content: "\e943";
}
.custom-computer-graphic:before {
  content: "\e944";
}
.custom-responsive-design-symbol:before {
  content: "\e945";
}
.custom-smartphone-call:before {
  content: "\e946";
}
.custom-phone-call:before {
  content: "\e947";
}
.custom-programming:before {
  content: "\e948";
}
.custom-url:before {
  content: "\e949";
}
.custom-web-design-1:before {
  content: "\e94a";
}
.custom-location:before {
  content: "\e94b";
}
.custom-web:before {
  content: "\e94c";
}
.custom-database:before {
  content: "\e94d";
}
.custom-world:before {
  content: "\e94e";
}
.custom-location-pin:before {
  content: "\e94f";
}
.custom-server:before {
  content: "\e950";
}
.custom-database-1:before {
  content: "\e951";
}
.custom-mail:before {
  content: "\e952";
}
.custom-computer:before {
  content: "\e953";
}
.custom-email:before {
  content: "\e954";
}
.custom-facebook .path1:before {
  content: "\e955";
  color: rgb(59, 89, 152);
}
.custom-facebook .path2:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.custom-hosting:before {
  content: "\e957";
}
.custom-hosting-1:before {
  content: "\e958";
}
.custom-youtube-logotype:before {
  content: "\e959";
}
.custom-digital-marketing:before {
  content: "\e95a";
}
.custom-youtube-logo:before {
  content: "\e95b";
}
.custom-digital-marketing-1:before {
  content: "\e95c";
}
.custom-youtube .path1:before {
  content: "\e95d";
  color: rgb(196, 48, 43);
}
.custom-youtube .path2:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.custom-youtube .path3:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.custom-email1:before {
  content: "\e960";
}
.custom-whatsapp .path1:before {
  content: "\e961";
  color: rgb(76, 175, 80);
}
.custom-whatsapp .path2:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(250, 250, 250);
}
.custom-social-media:before {
  content: "\e963";
}
.custom-whatsapp-logo:before {
  content: "\e964";
}
.custom-buying-on-smartphone:before {
  content: "\e965";
}
.custom-conversation:before {
  content: "\e966";
}
.custom-payment-method:before {
  content: "\e967";
}
.custom-speech-bubble:before {
  content: "\e968";
}
.custom-shopping:before {
  content: "\e969";
}
.custom-speech-bubble-1:before {
  content: "\e96a";
}
.custom-conversation-1 .path1:before {
  content: "\e96b";
  color: rgb(199, 234, 255);
}
.custom-conversation-1 .path2:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.custom-conversation-1 .path3:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(255, 188, 83);
}
.custom-conversation-1 .path4:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.custom-conversation-1 .path5:before {
  content: "\e96f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.custom-conversation-1 .path6:before {
  content: "\e970";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.custom-conversation-1 .path7:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.custom-conversation-1 .path8:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.custom-conversation-1 .path9:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.custom-conversation-1 .path10:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.custom-online-store:before {
  content: "\e975";
}
.custom-coding:before {
  content: "\e976";
}
.custom-skype:before {
  content: "\e977";
}
.custom-conversation1:before {
  content: "\e978";
}
.custom-skype-1 .path1:before {
  content: "\e979";
  color: rgb(0, 175, 240);
}
.custom-skype-1 .path2:before {
  content: "\e97a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.custom-download:before {
  content: "\e97b";
}
.custom-skype-2:before {
  content: "\e97c";
  color: #00aaf2;
}
.custom-address:before {
  content: "\e97d";
}
.custom-upload:before {
  content: "\e97e";
}
.custom-application-development:before {
  content: "\e97f";
}
.custom-send:before {
  content: "\e980";
}
.custom-locked:before {
  content: "\e981";
}
.custom-online-shop:before {
  content: "\e982";
}
.custom-apps:before {
  content: "\e983";
}
.custom-instagram:before {
  content: "\e984";
}
.custom-instagram-1:before {
  content: "\e985";
}
.custom-right-arrow:before {
  content: "\e986";
}
.custom-back:before {
  content: "\e987";
}
.custom-instagram-2:before {
  content: "\e988";
}
.custom-facebook-1:before {
  content: "\e989";
}
.custom-upload-1:before {
  content: "\e98a";
}
.custom-instagram-3:before {
  content: "\e98b";
}
.custom-upload-2:before {
  content: "\e98c";
}
.custom-dart-board .path1:before {
  content: "\e98d";
  color: rgb(255, 100, 100);
}
.custom-dart-board .path2:before {
  content: "\e98e";
  margin-left: -1em;
  color: rgb(255, 100, 100);
}
.custom-dart-board .path3:before {
  content: "\e98f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.custom-dart-board .path4:before {
  content: "\e990";
  margin-left: -1em;
  color: rgb(255, 100, 100);
}
.custom-dart-board .path5:before {
  content: "\e991";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.custom-dart-board .path6:before {
  content: "\e992";
  margin-left: -1em;
  color: rgb(70, 70, 85);
}
.custom-dart-board .path7:before {
  content: "\e993";
  margin-left: -1em;
  color: rgb(255, 100, 100);
}
.custom-twitter:before {
  content: "\e994";
}
.custom-target .path1:before {
  content: "\e995";
  color: rgb(255, 112, 88);
}
.custom-target .path2:before {
  content: "\e996";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.custom-target .path3:before {
  content: "\e997";
  margin-left: -1em;
  color: rgb(255, 112, 88);
}
.custom-target .path4:before {
  content: "\e998";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.custom-target .path5:before {
  content: "\e999";
  margin-left: -1em;
  color: rgb(255, 112, 88);
}
.custom-target .path6:before {
  content: "\e99a";
  margin-left: -1em;
  color: rgb(51, 74, 94);
  opacity: 0.2;
}
.custom-target .path7:before {
  content: "\e99b";
  margin-left: -1em;
  color: rgb(64, 89, 107);
}
.custom-target .path8:before {
  content: "\e99c";
  margin-left: -1em;
  color: rgb(132, 219, 255);
}
.custom-target .path9:before {
  content: "\e99d";
  margin-left: -1em;
  color: rgb(84, 192, 235);
}
.custom-whatsapp-1:before {
  content: "\e99e";
}
.custom-triptych:before {
  content: "\e99f";
}
.custom-youtube-1:before {
  content: "\e9a0";
}
.custom-software:before {
  content: "\e9a1";
}
.custom-telegram:before {
  content: "\e9a2";
}
.custom-computer-1:before {
  content: "\e9a3";
}
.custom-linkedin:before {
  content: "\e9a4";
}
.custom-brand:before {
  content: "\e9a5";
}
.custom-github:before {
  content: "\e9a6";
}
.custom-adobe-photoshop-logo:before {
  content: "\e9a7";
}
.custom-google-plus:before {
  content: "\e9a8";
}
.custom-illustrator:before {
  content: "\e9a9";
}
.custom-vk:before {
  content: "\e9aa";
}
.custom-adobe-photoshop:before {
  content: "\e9ab";
}
.custom-rss:before {
  content: "\e9ac";
}
.custom-pinterest:before {
  content: "\e9ad";
}
.custom-team:before {
  content: "\e9ae";
}
.custom-analysis:before {
  content: "\e9af";
}
.custom-twitch:before {
  content: "\e9b0";
}
.custom-snapchat:before {
  content: "\e9b1";
}
.custom-www:before {
  content: "\e9b2";
}
.custom-skype-3:before {
  content: "\e9b3";
}
.custom-worldwide:before {
  content: "\e9b4";
}
.custom-spotify:before {
  content: "\e9b5";
}
.custom-work:before {
  content: "\e9b6";
}
.custom-behance:before {
  content: "\e9b7";
}
.custom-brochure:before {
  content: "\e9b8";
}
.custom-dribbble:before {
  content: "\e9b9";
}
.custom-triptych-brochure:before {
  content: "\e9ba";
}
.custom-periscope:before {
  content: "\e9bb";
}
.custom-triptych-1 .path1:before {
  content: "\e9bc";
  color: rgb(236, 237, 239);
}
.custom-triptych-1 .path2:before {
  content: "\e9bd";
  margin-left: -1em;
  color: rgb(208, 207, 209);
}
.custom-triptych-1 .path3:before {
  content: "\e9be";
  margin-left: -1em;
  color: rgb(236, 237, 239);
}
.custom-triptych-1 .path4:before {
  content: "\e9bf";
  margin-left: -1em;
  color: rgb(208, 207, 209);
}
.custom-triptych-1 .path5:before {
  content: "\e9c0";
  margin-left: -1em;
  color: rgb(208, 207, 209);
}
.custom-triptych-1 .path6:before {
  content: "\e9c1";
  margin-left: -1em;
  color: rgb(156, 155, 157);
}
.custom-triptych-1 .path7:before {
  content: "\e9c2";
  margin-left: -1em;
  color: rgb(24, 25, 27);
}
.custom-triptych-1 .path8:before {
  content: "\e9c3";
  margin-left: -1em;
  color: rgb(24, 25, 27);
}
.custom-triptych-1 .path9:before {
  content: "\e9c4";
  margin-left: -1em;
  color: rgb(24, 25, 27);
}
.custom-triptych-1 .path10:before {
  content: "\e9c5";
  margin-left: -1em;
  color: rgb(24, 25, 27);
}
.custom-triptych-1 .path11:before {
  content: "\e9c6";
  margin-left: -1em;
  color: rgb(24, 25, 27);
}
.custom-triptych-1 .path12:before {
  content: "\e9c7";
  margin-left: -1em;
  color: rgb(24, 25, 27);
}
.custom-triptych-1 .path13:before {
  content: "\e9c8";
  margin-left: -1em;
  color: rgb(24, 25, 27);
}
.custom-triptych-1 .path14:before {
  content: "\e9c9";
  margin-left: -1em;
  color: rgb(24, 25, 27);
}
.custom-triptych-1 .path15:before {
  content: "\e9ca";
  margin-left: -1em;
  color: rgb(24, 25, 27);
}
.custom-triptych-1 .path16:before {
  content: "\e9cb";
  margin-left: -1em;
  color: rgb(24, 25, 27);
}
.custom-triptych-1 .path17:before {
  content: "\e9cc";
  margin-left: -1em;
  color: rgb(24, 25, 27);
}
.custom-triptych-1 .path18:before {
  content: "\e9cd";
  margin-left: -1em;
  color: rgb(24, 25, 27);
}
.custom-triptych-1 .path19:before {
  content: "\e9ce";
  margin-left: -1em;
  color: rgb(24, 25, 27);
}
.custom-triptych-1 .path20:before {
  content: "\e9cf";
  margin-left: -1em;
  color: rgb(24, 25, 27);
}
.custom-triptych-1 .path21:before {
  content: "\e9d0";
  margin-left: -1em;
  color: rgb(24, 25, 27);
}
.custom-triptych-1 .path22:before {
  content: "\e9d1";
  margin-left: -1em;
  color: rgb(24, 25, 27);
}
.custom-triptych-1 .path23:before {
  content: "\e9d2";
  margin-left: -1em;
  color: rgb(24, 25, 27);
}
.custom-triptych-1 .path24:before {
  content: "\e9d3";
  margin-left: -1em;
  color: rgb(24, 25, 27);
}
.custom-triptych-1 .path25:before {
  content: "\e9d4";
  margin-left: -1em;
  color: rgb(24, 25, 27);
}
.custom-triptych-1 .path26:before {
  content: "\e9d5";
  margin-left: -1em;
  color: rgb(24, 25, 27);
}
.custom-triptych-1 .path27:before {
  content: "\e9d6";
  margin-left: -1em;
  color: rgb(24, 25, 27);
}
.custom-triptych-1 .path28:before {
  content: "\e9d7";
  margin-left: -1em;
  color: rgb(24, 25, 27);
}
.custom-triptych-1 .path29:before {
  content: "\e9d8";
  margin-left: -1em;
  color: rgb(24, 25, 27);
}
.custom-triptych-1 .path30:before {
  content: "\e9d9";
  margin-left: -1em;
  color: rgb(24, 25, 27);
}
.custom-triptych-1 .path31:before {
  content: "\e9da";
  margin-left: -1em;
  color: rgb(24, 25, 27);
}
.custom-triptych-1 .path32:before {
  content: "\e9db";
  margin-left: -1em;
  color: rgb(24, 25, 27);
}
.custom-triptych-1 .path33:before {
  content: "\e9dc";
  margin-left: -1em;
  color: rgb(24, 25, 27);
}
.custom-triptych-1 .path34:before {
  content: "\e9dd";
  margin-left: -1em;
  color: rgb(24, 25, 27);
}
.custom-triptych-1 .path35:before {
  content: "\e9de";
  margin-left: -1em;
  color: rgb(24, 25, 27);
}
.custom-triptych-1 .path36:before {
  content: "\e9df";
  margin-left: -1em;
  color: rgb(24, 25, 27);
}
.custom-triptych-1 .path37:before {
  content: "\e9e0";
  margin-left: -1em;
  color: rgb(24, 25, 27);
}
